.bottomless {
  margin-bottom: 0px;
}

.margin-top-two {
  margin-top: 2rem;
}

.pink {
  color: #eb227b;
}

.position-top-minus-one {
  position: relative;
  top: -1rem;
}

span.label.award {
  position: relative;
  top: -1.2rem;
  h5 {
    margin-bottom: 0px;
  }
}

.award-ribbon {
  background-image: url("/assets/pink_ribbon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 9rem;
  left: 2rem;
  position: absolute;
  top: -0.4rem;
  width: 9rem;

  h1 {
    padding: 1rem;
  }
}

.ribbon {
  background-image: url("/assets/pink_ribbon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: 4.6rem;
  left: 1rem;
  position: absolute;
  top: -0.2rem;
  width: 4.6rem;

  p, h1 {
    font-weight: bold;
    padding: 1rem;
  }
}
