.margin-top-two {
  margin-top: 2rem;
}

.pink {
  color: #eb227b;
}

.position-top-minus-one {
  position: relative;
  top: -1rem;
}

.ribbon {
  background-image: url("/assets/pink_ribbon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: 4.6rem;
  left: 1rem;
  position: absolute;
  top: -0.2rem;
  width: 4.6rem;

  p {
    font-weight: bold;
    padding: 1rem;
  }
}
