.bottomless {
  margin-bottom: 0px;
}

.margin-top-one {
  margin-top: 1rem;
}

.margin-top-two {
  margin-top: 2rem;
}

.pink {
  color: #eb227b;
}

.position-top-minus-one {
  position: relative;
  top: -1rem;
}

span.label.award {
  position: relative;
  top: -1.2rem;
  h5 {
    margin-bottom: 0px;
  }
}

table {
  a {
    color: #eb227b;
  }
}
