img.image-award {
  border: 0.5rem solid #fefefe;
  border-radius: 16rem;
  margin-top: 2rem;
}

img.image-topbar {
  margin-right: 0.2rem;
  border: 0.1rem solid #fefefe;
  border-radius: 2rem;
  height: 2.3rem;
  width: 2.3rem;
}

img.logo {
  width: 3.4rem;
  height: 3.1rem;
}

img.nomination {
  border: 0.2rem solid #fefefe;
  border-radius: 4rem;
  height: 8rem;
  width: 8rem;
}
